<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"/>


    <title>Document</title>
</head>
<body>
<div class="content">
    <header>
        <div class="logo">
            <a href="/">Watson Assistant</a>
        </div>
    </header>

    <%- body %>

    <footer>
        <a href="https://www.ibm.com/products/watson-assistant?utm_content=SRCWW&p1=Search&p4=43700050290118542&p5=e&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDprh00MR8FiCm6LHvzXa1zD6AQxbKY9KI9v5IKSLQ03BdG8sO5Q3wRoCAhAQAvD_BwE&gclsrc=aw.ds">watson assistatn</a>
    </footer>
</div>

</body>
</html>